@import "tailwindcss";

/*
red #ffdada	(255,218,218)
orange #ffe5c5	(255,229,197)
yellow #fffdc7	(255,253,199)
green #dfffc6	(223,255,198)
blue #caffef	(202,255,239)
purple #e9c6ff
*/

:root {
  --background: white;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: cursive;
}

h1 {
  font-family: cursive;
  font-size: xx-large;
}

.topHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: cursive;
  font-size: large;
}

button {
  font-family: cursive;
  background-color: #ffdada;
  font-size: large;
  padding: 12px;
  margin: 24px;
  border-radius: 12px;
}

.home {
  width: 100%;
}

.buttonholder {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}

.navbar {
  display: flex;
  background-color: #caffef;
  width: 100%;
  height: 50px;
  justify-content: right;
  align-items: center;
}

.navbarItem {
  margin: 32px;
}

.RPS {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.compRPS {
  display: flex;
  width: 380px;
  height: 150px;
  background-color: #dfffc6;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: larger;
}

.butRPS {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  /* grid wasn't laying out correctly - asked chat for help and it gave me this
  three equal columns, 1 fraction*/
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 55%;
  margin: auto;
  margin-top: 24px;
}

.card {
  border: 1px;
  width: 200px;
  height: 200px;
  background-color: #e9c6ff;
  border-radius: 12px;
  padding: 5px;
}

.hangAll {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hangIn {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.hangMan {
  display: flex;
  width: 250px;
  height: 400px;
  background-color:#fffdc7;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: larger;
}

.hangLetters {
  display: flex;
  width: 250px;
  height: 150px;
  background-color: #ffe5c5;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: larger;
}

input {
  font-family: cursive;
  background-color: #ffdada;
  font-size: large;
  padding: 12px;
  margin: 24px;
  border-radius: 12px;
  width: 515px;
}